<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Vue Creative Project</title>
</head>

<body>
    <div id="app">
        <div v-if="!done">
            <form v-on:submit.prevent="getAnswers">
            <input type="text" :placeholder="blank" v-for="(blank, index) in madlib.blanks" v-model="answers[index]">
            <button type="submit">Submit Answers</button>
            </form>
        </div>
        <div v-if="done">
            <h1>{{madlib.title}}</h1>
            <div v-for="(answer, index) in answers">
                <p>{{madlib.value[index]}}</p>
                <p>{{answer}}</p>
            </div>
        </div>
    </div>
    <footer>
        <a href="https://github.com/mmthornt/VueCreativeProject.git">Github</a>
    </footer>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>
